footer {
    background-color: #F5F6F8;
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
}
.attribution a { 
    text-decoration: none;
    color: inherit;
    &:hover {
        color: hsl(228, 45%, 44%);
    }
}